<!DOCTYPE html>
<meta charset="utf-8">
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<script th:inline="javascript">
    var socket = null;
    const USER_SEQ = [[${session.member.seq}]];
    const USER_NAME = [[${session.member.memberName}]];
    const EX_SEQ = 2;
    const EX_NAME = '김교수';
    const PC_SEQ = 1;
    const USER_ROLE = [[${session.member.memberRole}]];

    localStorage.setItem("USER_SEQ", USER_SEQ);
    localStorage.setItem("PC_SEQ", PC_SEQ);
    localStorage.setItem("USER_NAME", USER_NAME);

</script>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MODU - 5000만 국민의 선택</title>
    <!--Made with love by Mutiullah Samim -->

    <!--Bootsrap 4 CDN-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!--Fontawesome CDN-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <!--Custom styles-->
    <link rel="stylesheet" type="text/css" href="../static/css/Main2.css">
</head>
<header class="masthead">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand" href="../MainForm"><img src="../static/assets/MODU.PNG" alt="..." /></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars ms-1"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                    <th:block th:unless="${session.member}">
                        <script>
                            var result = confirm("로그인이 필요한 서비스입니다.");

                            if(result)
                            {
                                window.location.href="../LoginForm";

                            }
                            else
                            {
                                window.location.href="../MainForm";
                            }
                        </script>
                    </th:block>
                    <th:block th:if="${session.member}">
                        <li class="nav-item"><a class="nav-link" href="#services">카테고리</a></li>
                        <li class="nav-item"><a class="nav-link" href="../board/InsertForm">커뮤니티</a></li>
                        <li th:if="${session.member.memberRole} == 'Professor'" class="nav-item"><a class="nav-link" href="commission/Form">제안</a></li>
                        <li th:if="${session.member.memberRole} == 'Student'" class="nav-item"><a class="nav-link" href="commission/Find">교수찾기</a></li>
                        <li class="nav-item"><a class="nav-link" href="../MyPage"><td th:text="${session.member.id}"></td>님</a></li>
                        <li class="nav-item"><a class="nav-link" href="../Logout">로그아웃</a></li>
                    </th:block>
                </ul>
            </div>

        </div>

    </nav>
</header>
<article class="postDetail-section">
    <div id="postDetail-header">
        <span th:if="${post.category}=='information'" style="color: #a8a5a5">교수의 꿀팁</span>
        <span th:if="${post.category}=='qna'" style="color: #a8a5a5">교수님 질문있어요</span>
        <span th:if="${post.category}=='together'" style="color: #a8a5a5">모두 다 함께</span>
        <span th:if="${post.category}=='search'" style="color: #a8a5a5">교수 찾기</span>
        <h1 th:utext="${post.title}" id="postDetail-h1"></h1>
        <div id="postDetail-profile">
            <span th:utext="${post.writer}+'님'"></span>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <span th:utext="${post.addDate}" style="color:#a8a5a5"></span>
            <br>
            <hr color="#cccaca" width="100%">
        </div>
    </div>
    <div id="postDetail-body">
        <span th:utext="${post.content}" style="font-size: 18px"></span>
    </div><hr color="#cccaca" width="100%">
    <div id="postDetail-footer">
        <div id="textarea-box">
            <textarea class="postDetail-textarea"  id="comment-textarea" onkeyup="resize(this)" placeholder="댓글을 남겨보세요" style="overflow: hidden" name="content"></textarea>
            <div id="textarea-save">
                <input type="button" id="comment-save-btn" value="등록" style="color: #8e8bd5">
            </div>
        </div>

        <div id="textarea-box-update">
            <textarea class="postDetail-textarea"  id="comment-update" onkeyup="resize(this)" placeholder="수정할 문장을 입력해주세요" style="overflow: hidden" name="content"></textarea>
            <div id="textarea-update">
                <input type="button" id="comment-update-btn" onclick="hide()" value="수정" style="color: #8e8bd5">
            </div>
        </div>
        <div class="postDetail-comment">
        </div>
    </div>


</article>




<script src="https://code.jquery.com/jquery-3.6.0.js"></script>

<!-- ajax 작동 -->
<script>
    function resize(event) {
        event.style.height = "1px";
        event.style.height = (12+event.scrollHeight)+"px";
    }
    const role = '[[${session.member.memberRole}]]';
    const writer = '[[${session.member.memberName}]]';
    const category = '[[${session.member.category}]]';
    const boardSeq = '[[${post.boardSeq}]]';

    //댓글 등록
    $('#textarea-save').click(function (){
        console.log('댓글 등록 버튼 클릭');
        const content = $('#comment-textarea').val();
        $.ajax({
            type:'post',
            url:'commentSave',
            data: JSON.stringify({
                "writer" : writer,
                "content" : content,
                "category":category,
                "boardSeq":boardSeq,
            }),
            contentType: 'application/json',
            success:function (data){
                console.log('통신성공' + data);
                alert("댓글이 등록 되었습니다.");
                commentList();
                document.getElementById('comment-textarea').value=" ";
            },
            error:function (){
                alert("통신실패"+data);
            }
        });
    });

    //댓글 수정
    $('#comment-update-btn').click(function (){
        var bcSeq = document.getElementById("bc-seq").value;
        alert(bcSeq)
        console.log('댓글 수정 버튼 클릭')
        const content = $('#comment-update').val();
        $.ajax({
            type:'post',
            url:'commentUpdate',
            data: JSON.stringify({
                "bcSeq": bcSeq,
                "writer" : writer,
                "content" : content,
                "category":category,
                "boardSeq":boardSeq,
            }),
            contentType: 'application/json',
            success:function (data){
                console.log('통신성공' + data);
                alert("댓글이 수정 되었습니다.");
                commentList();
                document.getElementById('comment-update').value=" ";
            },
            error:function (){
                alert("통신실패"+data);
            }
        })
    })


    //댓글 목록
    function commentList(){
        $.ajax({
            type: 'get',
            url : 'commentList',
            data: {'boardSeq':boardSeq},
            contentType: 'application/json',
            success:function (data){
                var htmlComment = '';
                $.each(data, function (key, value){
                    if(value.delYn == 'N'){
                        htmlComment += '<div class="comment-list">';
                        htmlComment += '<input type="text" id="bc-seq" value="'+value.bcSeq+'"/>'
                        htmlComment += '<div class="comment-update-delete">'+'<button id="btn-update" style="color:#8e8bd5" onclick="show()">수정</button><button id="btn-delete" style="color:#8e8bd5">삭제</button></div>';
                        htmlComment += '<div class="comment-writer">'+'<span id="span-writer">'+value.writer+'</div>';
                        if(role == 'Professor'){
                            htmlComment += '<div class="comment-category">'+'<span id="span-category" style="color: #bdbaba">'+value.category+"고수님"+'</div>';
                        }
                        htmlComment += '<div class="comment-content">'+'<span id="span-content">'+value.content+'</div>';
                        if(value.upDate == null){
                            htmlComment += '<div class="comment-addDate">'+'<span id="span-addDate">'+addTime(value.addDate)+'</div><hr color="#cccaca" width="100%"></div>';
                        }else{
                            htmlComment += '<div class="comment-addDate">'+'<span id="span-addDate">'+addTime(value.upDate)+'</div><hr color="#cccaca" width="100%"></div>';
                        }


                    }

                })
                $(".postDetail-comment").html(htmlComment);
            },
            error:function (){
                alert("댓글 목록 실패..");
            }
        })
    }
    function show(){
        document.getElementById("textarea-box-update").style.display = "block";
    }
    function hide(){
        document.getElementById("textarea-box-update").style.display = "none";
    }

    //댓글 목록보여주기
    $(document).ready(function(){
        commentList();
    });



    //db에서 가져온 시간 변환
    function addTime(date){
        date = new Date(date);
        year = date.getFullYear();
        //자바스크립트는 0부터 11까지만 된다고 함 고로 +1
        month = date.getMonth()+1;
        day = date.getDate();
        hour = date.getHours();
        minute = date.getMinutes();
        strDate = year+"-"+month+"-"+day+" "+hour+":"+minute;
        return strDate;
    }


</script>



<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>

<!--<script src="../static/js/Main.js"></script>-->
</html>


