@charset "UTF-8";
@font-face {
    font-family: 'EarlyFontDiary';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_220508@1.0/EarlyFontDiary.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@charset "UTF-8";


.ms-0 {
    margin-left: 0 !important;
}

.ms-1 {
    margin-left: 0.25rem !important;
}

.ms-2 {
    margin-left: 0.5rem !important;
}

.ms-3 {
    margin-left: 1rem !important;
}

.ms-4 {
    margin-left: 1.5rem !important;
}

.ms-5 {
    margin-left: 3rem !important;
}

.ms-auto {
    margin-left: auto !important;
}

#mainNav {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #212529;
}
#mainNav .navbar-toggler {
    padding: 0.75rem;
    font-size: 0.75rem;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    text-transform: uppercase;
    font-weight: 700;
}
#mainNav .navbar-brand {
    color: #ffc800;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
    letter-spacing: 0.0625em;
    text-transform: uppercase;
}
#mainNav .navbar-brand img {
    height: 1.5rem;
}
#mainNav .navbar-nav .nav-item .nav-link {
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1.5rem;
    font-family: 'EarlyFontDiary';
    color: #333439;
    letter-spacing: 0.0625em;
}
#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
    color: #7875C9;
}

@media (min-width: 992px) {
    #mainNav {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        border: none;
        background-color: #F2DFBC;
        transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out;
    }
    #mainNav .navbar-brand {
        font-size: 1.5em;
        transition: font-size 0.3s ease-in-out;
    }
    #mainNav .navbar-brand img {
        height: 2rem;
        transition: height 0.3s ease-in-out;
    }
    #mainNav.navbar-shrink {
        padding-top: 1rem;
        padding-bottom: 1rem;
        background-color: #F2DFBC;
    }
    #mainNav.navbar-shrink .navbar-brand {
        font-size: 1.25em;
    }
    #mainNav.navbar-shrink .navbar-brand svg,
    #mainNav.navbar-shrink .navbar-brand img {
        height: 1.5rem;
    }
    #mainNav .navbar-nav .nav-item {
        margin-right: 1rem;
    }
    #mainNav .navbar-nav .nav-item:last-child {
        margin-right: 0;
    }
}
html{
    background-image: url('../img/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    object-fit:cover;
    height: 120%;
    font-family: 'EarlyFontDiary', sans-serif;
}
body{
    background-image: url('../img/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    object-fit:cover;
    font-family: 'EarlyFontDiary', sans-serif;
}



.social_icon span{
    font-size: 60px;
    margin-left: 10px;
    color: #F2DFBC;
}

.social_icon span:hover{
    color: white;
    cursor: pointer;
}


.social_icon{
    position: absolute;
    right: 20px;
    top: -45px;
}

.input-group-prepend span{
    width: 50px;
    background-color: #F2DFBC;
    color: black;
    border:0 !important;
}

input:focus{
    outline: 0 0 0 0  !important;
    box-shadow: 0 0 0 0 !important;

}

.remember{
    color: white;
}

.remember input
{
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
}

.login_btn{
    color: black;
    background-color: #DDDDFF;
    width: 100px;
}

.login_btn:hover{
    color: black;
    background-color: white;
}

.links{
    color: #F2DFBC;
}

.links a{
    margin-left: 4px;
    color: #DDDDFF;
}
.links2 a{
    margin-left: 4px;
    color: #DDDDFF;
}
header.masthead {
    padding-top: 1.2rem;
    padding-bottom: 1rem;
    color: #333439;
    background-size: cover;
}

.select_box{
    position: absolute;
    top: 20%;
    left: 20%;
}
.select_box select option[value=""][disabled]{
    display: none;
}

#disable_select{
    width: 240px;
    height: 40px;
    border-radius: 5px;
    background-color: #cecccc;
    font-weight: bold;

}
#disable_select optgroup{
    background-color: #FFFFFF;
}


.tiny_box{
    position: absolute;
    top: 30%;
    left:20%;
}

#inputName{
    width: 1000px;
    border-radius: 5px;
}
#inputId{
    width: 1000px;
    border-radius: 5px;
}






