@charset "UTF-8";
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@charset "UTF-8";
.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
    width: 100%;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 1400px) {
    .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
        max-width: 1130px;
    }
}

.ms-0 {
    margin-left: 0 !important;
}

.ms-1 {
    margin-left: 0.25rem !important;
}

.ms-2 {
    margin-left: 0.5rem !important;
}

.ms-3 {
    margin-left: 1rem !important;
}

.ms-4 {
    margin-left: 1.5rem !important;
}

.ms-5 {
    margin-left: 3rem !important;
}

.ms-auto {
    margin-left: auto !important;
}
#mainNav {
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    border: none;
    background-color: #F2DFBC;
    transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out;
    box-shadow: 2px 2px 10px 2px #d9c29f;
}
#mainNav .navbar-toggler {
    padding: 0.75rem;
    font-size: 0.75rem;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    text-transform: uppercase;
    font-weight: 700;
}
#mainNav .navbar-brand {
    color: #ffc800;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
    letter-spacing: 0.0625em;
    text-transform: uppercase;
}
#mainNav .navbar-brand img {
    height: 1.5rem;
}
#mainNav .navbar-nav .nav-item .nav-link {
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1.1rem;
    font-family: 'Pretendard-Regular';
    color: #333439;
    letter-spacing: 0.0625em;
}
#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
    color: #7875C9;
}

@media (min-width: 992px) {
    #mainNav {
        padding-top: 0.3rem;
        padding-bottom: 0.3rem;
        border: none;
        background-color: #F2DFBC;
        transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out;
    }
    #mainNav .navbar-brand {
        font-size: 1.5em;
        transition: font-size 0.3s ease-in-out;
    }
    #mainNav .navbar-brand img {
        height: 2rem;
        transition: height 0.3s ease-in-out;
    }
    #mainNav.navbar-shrink {
        padding-top: 0.9rem;
        padding-bottom: 0.9rem;
        background-color: #F2DFBC;
    }
    #mainNav.navbar-shrink .navbar-brand {
        font-size: 1.25em;
    }
    #mainNav.navbar-shrink .navbar-brand svg,
    #mainNav.navbar-shrink .navbar-brand img {
        height: 1.5rem;
    }
    #mainNav .navbar-nav .nav-item {
        margin-right: 1rem;
    }
    #mainNav .navbar-nav .nav-item:last-child {
        margin-right: 0;
    }
}
html{
    background-size: cover;
    background-repeat: no-repeat;
    object-fit:cover;
    height: 120%;
    font-family: 'Pretendard-Regular', sans-serif;
}
body{
    background-size: cover;
    background-repeat: no-repeat;
    object-fit:cover;
    font-family: 'Pretendard-Regular', sans-serif;
}
.container{
    height: 100%;
    align-content: center;
}

.card{
    bottom: 130px;
    height: 370px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0,0,0,0.5) !important;
}


.social_icon span{
    font-size: 60px;
    margin-left: 10px;
    color: #F2DFBC;
}

.social_icon span:hover{
    color: white;
    cursor: pointer;
}
.card-header h3{
    color: white;
}


.social_icon{
    position: absolute;
    right: 20px;
    top: -45px;
}

.input-group-prepend span{
    width: 50px;
    background-color: #F2DFBC;
    color: black;
    border:0 !important;
}

/*
input:focus{
    outline: 0 0 0 0  !important;
    box-shadow: 0 0 0 0 !important;

}
*/

.remember{
    color: white;
}

.remember input
{
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
}

.login_btn{
    color: black;
    background-color: #DDDDFF;
    width: 100px;
}

.login_btn:hover{
    color: black;
    background-color: white;
}

.links{
    color: #F2DFBC;
}

.links a{
    margin-left: 4px;
    color: #DDDDFF;
}
.links2 a{
    margin-left: 4px;
    color: #DDDDFF;
}
header.masthead {
    padding-top: 1.2rem;
    padding-bottom: 1rem;
    color: #333439;
    background-size: cover;
}
.signUp_category_card{
    position: relative;
    margin-top: 100px;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
    width: 1350px;
    height: 850px;
    background-color: black;
    opacity: 0.6;
}
.category_card{
    position: relative;
    margin-top: 50px;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
    width: 1500px;
    height: 900px;
}

.list-section{
    width: 1024px;
    height: 1024px;
    padding: 3rem 3rem;
}

.list-container{
    display: flex;
    margin: 0 auto;
    position: relative;
    width: 300px;
    height: 1000px;
}
.list-card{
    width: 500px;
    max-width: 1000px;
    height: 400px;
    position: relative;
}

.category_list{
    min-width: 250px;
    min-height: 250px;
    height: 30%;
    margin-left: 70px;
    float: bottom;
    position: relative;
    top: 20%;
    left: 10%;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 5px #c9c2c2;


}
.list{
    min-width: 250px;
    height: 70%;
    float: top;
    border-radius: 5px;
    background-image: url("../img/proNull.png");
    background-size: cover;
}

#strong_font1{
    margin: 15px 25px 15px 10px;
    padding: 10px;
    font-size: 20px;
    color: black;
}
#strong_font2{
    margin-left: 15px;
    position: absolute;
    top: 85%;
    font-size: 20px;
    color: black;
}

.post-section{
    position: absolute;
    width: 685px;
    height: 500px;
    top: 30%;
    left: 37%;
}
#p-tag{
    position: relative;
    top: 33%;
    width: 60px;
    height: 40px;
    border-bottom: solid 2px black;
    font-weight: bold;
}
.post-body{
    position: absolute;
    top: 24%;
    left:24.5%;
    width: 965px;
    height: 50px;
}
.post-list{
    display: flex;
    flex-direction: column-reverse;
    -webkit-flex-direction: column-reverse;
}
.post-li {
    list-style: none;
    text-align: left;
}

#post-h{
    font-weight: bold;
    color: black;
}
#post-update-delete{
    position: relative;
    left: 86.5%;
}
#post-update-btn{
    position: relative;
    left: 39%;
    width: 43px;
    height: 30px;
    border: solid 1px white;
    border-radius: 7px;
    background-color: white;
    margin-right: 5px;
}
#post-update-btn:hover{
    border: solid 1px #c8c5fa;
    box-shadow: 1px 1px 8px 1px #c8c5fa;
}
#post-delete-btn{
    position: relative;
    left: 38%;
    width: 43px;
    height: 30px;
    border: solid 1px white;
    border-radius: 7px;
    background-color: white;
}
#post-delete-btn:hover{
    border: solid 1px #c8c5fa;
    box-shadow: 1px 1px 8px 1px #c8c5fa;
}
#post-p{
    color: #a9a7a7;
}
#add-date{
    position: absolute;
    left: 60%;
    color: #a9a7a7;
}
.category-section{
    position: absolute;
    top: 28%;
    left: 20%;
    width: 250px;
    height: 700px;
}

.category-section li{
    list-style: none;
    position: relative;
    top: 5%;
    left: 25%;
    margin-bottom: 5px;
    width: 200px;
    height: 66px;
    border: solid 1px white;
    border-radius: 8px;
}
.category-section li:hover{
    background-color: #f5c7d1;
    box-shadow: 1px 1px 5px 1px #f5c7d1;
}
.category-section li.on{
    color: blue;
}

.category-a{
    position: relative;
    top: 25%;
    left: 20%;
    font-weight: bold;
    font-size: 16px;
}

.post-header{
    position: absolute;
    top:15%;
    left: 24.5%;
    width: 900px;
    height: 50px;
}

#post-write{
    position: absolute;
    top: 15%;
    left: 92%;
    width: 140px;
    height: 50px;

    background-color: #eacdae;
    border: solid 1px #d0b99d;
    border-radius: 5px;
    box-shadow: 1px 1px 3px 1px #dadce0;
}
#post-write:hover{
    background-color: #efd8c3;
    box-shadow: 1px 1px 3px 1px #dadce0 inset;
}

.postDetail-section{
    position: absolute;
    top: 20%;
    left: 35%;
    width: 600px;
    height: 1000px;
}

#postDetail-header{
    position: relative;
    width: 600px;
    height: 180px;
}
#postDetail-h1{
    position: relative;
    top: 6%;
}
#postDetail-profile{
    position: relative;
    top: 10%;
    width: 600px;
    height: 30px;
}
#board-view{
    position: absolute;
    top: 10%;
    left: 47.5%;
}
#update-view{
    position: absolute;
    left: 91%;
    color: #a9a7a7;
}
#postDetail-body{
    position: relative;
    width: 600px;
    height: 500px;
}

#postDetail-footer{
    position: relative;
    width: 600px;
    height: auto;
}
#logo{
    position: relative;
    bottom: 5px;
}

#real-time-notice{
    position: fixed;
    bottom: 0;
    width: 100%;
}
#real-time-notice-2{
    position: relative;
    text-align: center;
    width: 270px;
    height: 50px;
    font-size: 18px;
    color: white;
    padding-bottom: 3px;
    border: solid 1px #dcacbe;
    background-color: #dcacbe;
    border-radius: 6px;
    box-shadow: 1px 1px 6px 1px #dcacbe;
}
#notice-a{
    text-decoration: none;
}
#notice-list-section{
    position: absolute;
    top: 80%;
    left: 55.3%;
    width: 380px;
    height: 580px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 1px 1px 3px 1px #ded8d8;
}
#notice-list-header{
    position: relative;
    width: 380px;
    height: 45px;
    font-size: 18px;

}
#header-span{
    position: relative;
    left: 10%;
    top: 28%;
    color: #7875C9;
}

.inquiry-data-section{
    position: relative;
    width: 380px;
    height: 500px;
    overflow: auto;
}
.notice-data-section{
    position: relative;
    width: 380px;
    height: 500px;
    overflow: auto;
}
.notice-div{
    position: relative;
    width: 360px;
    height: 60px;
}
.notice-check{
    position: relative;
    width: 10px;
    height: 10px;
    bottom: 138%;
    left: 80%;
}
#check-pie{
    position: absolute;
    font-size: 30px;
    color: #f52121;
}
#accept{
    position: relative;
    left: 90%;
    bottom: 20%;
    font-size: 17px;
    cursor: pointer;
}
#list-data{
    position: relative;
    top: 10%;
    left: 5%;
    font-size: 14px;
}
#list-date{
    position: relative;
    left: 5%;
    font-size: 12px;
}
#read-check{
    position: relative;
    top: 23%;
    left: 67%;
    font-size: 15px;
}
.notice-update-delete{
    position: relative;
    width: 380px;
    height: 35px;
}
#notice-all-read{
    position: relative;
    top:20%;
    left: 4%;
    font-size: 15px;
}
#notice-read-delete{
    position: relative;
    top:20%;
    left: 41%;
    font-size: 15px;
}
#notice-all-delete{
    position: relative;
    top:20%;
    left: 43%;
    font-size: 15px;
}
.notice-div:hover{
    width: 380px;
    background-color: #ded8d8;
}

#header-notice{
    position: absolute;
    width: 50px;
    height: 45px;
    left: 8%;
    padding-top: 2.5%;
    padding-left: 2.5%;
    border-bottom: 2px solid #7875C9;
    color: #7875C9;
}
#header-chat{
    position: absolute;
    width: 50px;
    height: 45px;
    left: 22%;
    padding-top: 2.5%;
    padding-left: 2.5%;
}
#header-hr{
    position: absolute;
    top: 64%;
    box-shadow: 1px 1px 6px 1px #b0aeae;
}
#notice-hr{
    margin-top: 6%;
    box-shadow: 1px 1px 6px 1px #b0aeae;
}
#textarea-box{
    position: relative;
    top: 10%;
    width: 600px;
    min-height: 60px;
    height: auto;
    border: solid 1px #ececec;
    border-radius: 8px;
}
#textarea-box:hover{
    border: solid 1px #c8c5fa;
    box-shadow: 1px 1px 8px 1px #c8c5fa;
}
#textarea-box-update{
    position: absolute;
    top: 5%;
    width: 600px;
    min-height: 60px;
    margin-top: 10px;
    height: auto;
    border: solid 1px #ececec;
    display: none;
    border-radius: 8px;
}
#textarea-box-update:hover{
    border: solid 1px #c8c5fa;
    box-shadow: 1px 1px 8px 1px #c8c5fa;
}
.postDetail-textarea{
    position: relative;
    margin-top: 15px;
    left: 2%;
    width: 540px;
    height: 25px;
    border: none;
    resize: none;
    outline: none;
}
.postDetail-textarea::placeholder{
    position: relative;
    font-size: 15px;
    color: #bdbaba;
}
#textarea-save{
    position: absolute;
    bottom: 30%;
    left: 93%;
    width: 30px;
    height: 30px;
}
#textarea-update{
    position: relative;
    bottom: 30%;
    left: 93%;
    width: 30px;
    height: 30px;
}


#comment-save-btn{
    position: absolute;
    right: 1%;
    top: 20%;
    border: solid 1px white;
    background-color: white;
}
.comment-update-btn{
    position: relative;
    right: 1%;
    top: 20%;
    border: solid 1px white;
    background-color: white;
}
.update-section{
    position: relative;
    width: 550px;
    min-height: 60px;
    height: auto;
    border: solid 1px #ececec;
    border-radius: 8px;
}
.update-section:hover{
    border: solid 1px #c8c5fa;
    box-shadow: 1px 1px 8px 1px #c8c5fa;
}
.update-section-textarea{
    position: relative;
    margin-top: 15px;
    left: 2%;
    width: 490px;
    height: 25px;
    border: none;
    resize: none;
    outline: none;

}
.update-section-textarea::placeholder{
    position: relative;
    font-size: 15px;
    color: #bdbaba;
}
#div-update{
    position:absolute;
    bottom: 30%;
    left: 90%;
    width: 30px;
    height: 30px;
}
.update-section-btn{
    position: relative;
    right: 1%;
    top: 20%;
    border: solid 1px white;
    background-color: white;
}

.postDetail-comment{
    position: relative;
    margin-top: 30px;
    left: 5%;
    width: 550px;
    height: 1200px;
}

.comment-List{
    position: relative;
    margin-top:15px;
    width: 550px;
    height: 150px;


}
.comment-update-delete{
    position: absolute;
    left: 85%;
    width: 200px;
    height: 200px;
    font-size: 14px;
}
#bc-seq{

}

.btn-update{
    width: 40px;
    height: 30px;
    border: solid 1px white;
    border-radius: 7px;
    background-color: white;
    margin-right: 3px;
}
#tmp{
    width: 1px;
    height: 1px;
}
#btn-update:hover{
    border: solid 1px #c8c5fa;
    box-shadow: 1px 1px 5px 1px #c8c5fa;
}
.btn-delete{
    width: 40px;
    height: 30px;
    border: solid 1px white;
    border-radius: 7px;
    background-color: white;
}


#btn-delete:hover{
    border: solid 1px #c8c5fa;
    box-shadow: 1px 1px 5px 1px #c8c5fa;
}
.comment-writer{
    position: relative;
    top: 3%;
    width: 100px;
    height: 20px;
    font-size: 16px;
}

.comment-category{
    position: relative;
    top: 15%;
    width: 100px;
    height: 30px;
    font-size: 14px;
}
.comment-content{
    position: relative;
    top: 20%;
    width: auto;
    height: auto;
}
.comment-addDate{
    position: relative;
    top: 30%;
    width: 100px;
    height: 25px;
    font-size:14px;
}
#span-addDate{
    position: absolute;
    left: 440%;
    width: 150px;
    height: 30px;
    color: #757272;
}

.list_detail{
    width: 700px;
    height: 600px;
    position: absolute;
    top: 5%;
    left: 10%;
    border: 0px solid;
    border-radius: 5px;
    background-color: #FFFFFF;
    text-align: left;
}

.detail{
    width: 700px;
    height: 200px;
    border : 0px solid;
    border-radius: 4px;
    background-color: #7a7acc;
    opacity: 50%;
    box-shadow: 2px 2px 10px 1px #7a7acc;
}

#detail_font1{
    margin: 25px 25px 15px 10px;
    padding: 10px;
    font-size: 35px;
    color: #FFFFFF;
}

#detail_font1{
    margin: 25px 25px 15px 10px;
    padding: 10px;
    font-size: 35px;
    color: #FFFFFF;
}

#detail_font2{
    margin: 10px 25px 15px 10px;
    padding: 10px;
    font-size: 35px;
    color: black;
}

.list_chat{
    position: absolute;
    left: 55%;
    top: 30%;
}

.btn1{
    position: relative;
    top: 280px;
    right: 110px;
    width: 250px;
    height: 50px;
    border: 1px solid #9494f5;
    background-color: #7878ee;
    border-radius: 8px;
    color: white;
    padding: 5px;
}
.setBtn{
    position: relative;
    bottom: 140px;
    left: 45px;
    width: 50px;
    height: 35px;
    border: 1px solid #7878ee;
    background-color: #7878ee;
    border-radius: 6px;
    color: white;
    padding: 6px;
}

.select_box{
    position: absolute;
    top: 20%;
    left: 20%;
}
.select_box select option[value=""][disabled]{
    display: none;
}

#disable_select{
    width: 240px;
    height: 40px;
    border-radius: 5px;
    background-color: #cecccc;
    font-weight: bold;

}
#disable_select optgroup{
    background-color: #FFFFFF;
}


.tiny_box{
    position: absolute;
    top: 30%;
    left:20%;
}

#inputName{
    width: 1000px;
    border-radius: 5px;
}
#inputId{
    width: 1000px;
    border-radius: 5px;
}


#submitBtn{
    border-color: #7875C9;
    background-color: #7875C9;
}

#detail-btn{
    position: relative;

    top: 6.7%;
}
#detail-page1{
    position: relative;
    width: 76px;
    height: 40px;
    border-bottom: solid 2px black;
}
#detail-page2{
    position: absolute;
    left: 13.5%;
    bottom: 1%;
    width: 68px;
    height: 40px;
}
#review-page{
    position: relative;
    width: 700px;
}
#review-save-btn{
    position: relative;
    width: 90px;
    height: 50px;
    left: 87%;
    border: solid 1px #7875C9;
    background-color: #aca9f8;
    border-radius: 8px;
    box-shadow: 1px 1px 8px 1px #7875C9;
    color: white;
}
.star {
    position: relative;
    font-size: 2rem;
    color: #ddd;
}

.star input {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    opacity: 0;
    cursor: pointer;
}

.star span {
    width: 0;
    position: absolute;
    left: 0;
    color: #aca9f8;
    overflow: hidden;
    pointer-events: none;
}
.review-star {
    position: relative;
    font-size: 1.2rem;
    color: #ddd;
}

.review-star input {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    opacity: 0;
    cursor: pointer;
}

.review-star span {
    width: 0;
    position: absolute;
    left: 0;
    color: #aca9f8;
    overflow: hidden;
    pointer-events: none;
}
.starUpdate {
    position: relative;
    font-size: 2rem;
    color: #ddd;
}

.starUpdate input {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    opacity: 0;
    cursor: pointer;
}

.starUpdate span {
    width: 0;
    position: absolute;
    left: 0;
    color: #aca9f8;
    overflow: hidden;
    pointer-events: none;
}
#review-save-section{
    position: relative;
    top: 10%;
    width: 600px;
    min-height: 60px;
    height: auto;
    border: solid 1px #ececec;
    border-radius: 8px;
}
#review-save-section:hover{
    border: solid 1px #c8c5fa;
    box-shadow: 1px 1px 8px 1px #c8c5fa;
}
.review-save-write{
    position: relative;
    margin-top: 15px;
    left: 2%;
    width: 540px;
    height: 25px;
    border: none;
    resize: none;
    outline: none;
}
.review-save-write::placeholder{
    position: relative;
    font-size: 15px;
    color: #bdbaba;
}
#review-save{
    position: absolute;
    width: 90px;
    height: 50px;
    left: 102%;
    bottom:11%;
    border: solid 1px #7875C9;
    background-color: #aca9f8;
    border-radius: 8px;
    box-shadow: 1px 1px 8px 1px #7875C9;
    color: white;
    display: none;
}
.review-List{
    margin-top: 30px;
}
.review-update-section{
    position: relative;
    width: 680px;
    min-height: 60px;
    height: auto;
    border: solid 1px #ececec;
    border-radius: 8px;
}
.review-update-section-textarea{
    position: relative;
    margin-top: 15px;
    left: 2%;
    width: 580px;
    height: 25px;
    border: none;
    resize: none;
    outline: none;
}
#div-review-update{
    position:absolute;
    bottom: 30%;
    left: 90%;
    width: 30px;
    height: 30px;
}
.review-update-section-btn{
    position: relative;
    right: 1%;
    top: 20%;
    border: solid 1px white;
    background-color: white;

}
#review-writer{
    position: relative;

}
#review-addDate{
    position: absolute;
    left:8%;
    bottom:1%;
    font-size: 13px;
}
.review-List-Content{
    position: relative;
    margin-top: 5px;
    font-size: 17px;
}
.review-update{
    width: 40px;
    height: 30px;
    border: solid 1px white;
    border-radius: 7px;
    background-color: white;
    margin-right: 3px;
}
.review-delete{
    width: 40px;
    height: 30px;
    border: solid 1px white;
    border-radius: 7px;
    background-color: white;
}
.review-update-delete{
    position: absolute;
    left: 88%;
    width: 90px;
    height: 40px;
    font-size: 14px;
}
#sideNav{
    position: sticky;
    left: 58%;
    bottom: 307px;
    width: 350px;
    height: 500px;
    border: solid 1px #a0a0e3;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 1px #ababe0;
}
#chat-section-top{
    position: absolute;
    top: 9.2%;
    left: 23%;
    width: 992px;
    height: 76px;
    border: 1px solid #c4c2c2;
}
#chat-section{
    position: absolute;
    top: 17.3%;
    left: 23%;
    width: 992px;
    height: 650px;
    background-color: #f1f0f0;
    border: 1px solid #dad8d8;
    overflow: auto;
}
.chat-send{
    position: relative;
    width: 990px;
    margin-top: 20px;

}
.chat-send-content{
    position: relative;
    left: 68%;
    width: 282px;
    border-radius: 15px;
    background-color: white;
}
.chat-recv{
    position: relative;
    width: 990px;
    margin-top: 20px;
}
.chat-recv-content{
    position: relative;
    left: 10%;
    width: 282px;
    border-radius: 15px;
    background-color: white;
}

#info-section{
    position: absolute;
    width: 500px;
    top: 30%;
    left: 3%;
    font-size: 20px;
}
#room-out{
    position: absolute;
    width: 160px;
    height: 36px;
    top: 28%;
    left: 82%;
    background-color: #eacdae;
    border: solid 1px #d0b99d;
    border-radius: 5px;
    box-shadow: 1px 1px 3px 1px #dadce0;
}
#room-out:hover{
    background-color: #efd8c3;
    box-shadow: 1px 1px 3px 1px #dadce0 inset;
}
#chat-section-bottom{
    position: absolute;
    top: 86.5%;
    left: 23%;
    width: 992px;
    height: auto;
    border: 1px solid #c4c2c2;
}
#room-message{
    position: relative;
    width: 500px;
    height: auto;
    min-height: 57px;
    max-height: 130px;
    top: 30%;
    left: 3%;
    font-size: 20px;
}
#room-message-area{
    position: relative;
    width: 800px;
    height: 35px;
    max-height: 104px;
    border: solid 1px #ececec;
    border-radius: 8px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 17px;
    resize: none;
    outline: none;
    overflow: auto;
}
#room-message-area:hover{
    border: solid 1px #c8c5fa;
    box-shadow: 1px 1px 8px 1px #c8c5fa;
}
#room-message-area::placeholder{
    position: relative;
    top: 17%;
    left: 0.3%;
    font-size: 15px;
    color: #bdbaba;
}

#chat-send-section{
    position: absolute;
    width: 100px;
    height: 36px;
    left: 88%;
    bottom: 30.3%;
}
#chat-send-message{
    position: absolute;
    width: 100px;
    height: 36px;
    background-color: #eacdae;
    border: solid 1px #d0b99d;
    border-radius: 5px;
    box-shadow: 1px 1px 3px 1px #dadce0;
}

#chat-send-message:hover{
    background-color: #efd8c3;
    box-shadow: 1px 1px 3px 1px #dadce0 inset;
}



