<!DOCTYPE html>
<html lang="UTF-8">
<head>
    <meta charset="UTF-8">
    <title>게시판 등록</title>
</head>
<body>
<h1>게시판</h1>
<form action="/insert" method="post">
    <p>
        교육 <input type = "checkbox" name="category" value="education">
        육아 <input type = "checkbox" name="category" value="Parenting">
        요리 <input type = "checkbox" name="category" value="Cooking">
    </p>
    <p><textarea row="50" cols="30" name="content"></textarea></p>
    <button type="submit">등록</button>
</form>
</body>
</html>