<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>MODU - 모두 함께</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="../static/assets/MODU.PNG" />
    <link href="../static/css/Main.css" rel="stylesheet" />
</head>
<!-- stomp -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script src="/webjars/vue/2.6.14/dist/vue.min.js"></script>
<script src="/webjars/axios/0.21.1/dist/axios.min.js"></script>
<script th:inline="javascript" th:if="${session.member}">
    const USER_SEQ = [[${session.member.seq}]];
    const USER_NAME = [[${session.member.memberName}]];
    const USER_ROLE = [[${session.member.memberRole}]];

    var socket = null;
    $(document).ready(function(){
        connectWs();
        noticeList();
        chatRoomList();
    })

    function connectWs(){
        console.log("연결");
        var ws = new SockJS('/alarm');
        socket = ws;
        ws.onopen = function (){
            console.log("open")
        };

        ws.onmessage = function (event){
            console.log("onmessage 실행")
            console.log("onmessage"+event.data);
            let htmlAlarm = '';
            $('#real-time-notice-2').html(event.data);
            $('#real-time-notice').css('display', 'block');

            setTimeout(function(){
                $('#real-time-notice').css('display','none');

            }, 5000);
        };
        ws.onclose = function() {
            console.log("onclose 실행")
            console.log('close');
        };
    }
    function read(tmp){
        $.ajax({
            type: 'post',
            url:'../noticeRead',
            data: JSON.stringify({
                noticeSeq : tmp,
                noticeRead : "Y"
            }),
            contentType: 'application/json',
            success:function (data){
                console.log("통신 성공"+data);
                noticeList();
            },
            error:function (){
                alert("통신 실패");
            }
        })
    }
    //채팅방 목록
    function chatRoomList(){
        $.ajax({
            type: 'get',
            url:'../chatRoomList',
            data:{'writer':USER_NAME},
            contentType: 'application/json',
            success: function (data){
                console.log("채팅방 목록 성공")
                var roomList = '';
                var alarmCheck = '';
                $.each(data, function (key, value){
                    alarmCheck = '<sapn id="check-pie">'+'.'+'</span>'
                    roomList += '<div class=notice-div onclick="location.href=`/room/chatting/'+value.roomId+'`">'
                    roomList += '<span id="list-data">'+value.userWriterName+'님의 요청에 의한 채팅'+'</span>'
                    roomList += '<br>'
                    roomList += '<span id="list-date">'+addTime(value.addDate)+'</span>'
                    roomList += '</div>'
                })
                $('.chatRoom-list-section').html(roomList);
                $('.notice-check').html(alarmCheck);
            }
        })
    }


    //알림목록
    function noticeList(){
        $.ajax({
            type: 'get',
            url:'../noticeList',
            data:{'writer':USER_NAME},
            contentType: 'application/json',
            success: function (data){
                console.log("알람 성공")
                var alarmList = '';
                var inquiryList = '';
                var alarmCheck = '';
                var noticeYn = '';
                $.each(data, function (key,value){
                    if(value.writeType == 'comment'){
                        if(value.noticeRead == "N" && value.delYn == "N"){
                            alarmCheck = '<sapn id="check-pie">'+'.'+'</span>'
                            alarmList += '<div class=notice-div id="notice-seq'+value.noticeSeq+'" onclick="location.href=`/board/PostDetail?boardSeq=`+'+value.typeSeq+'; read('+value.noticeSeq+')">'
                            alarmList += '<span id="list-data">'+value.userWriter+'님이'+' 게시물'+'('+value.category+')'+value.title+'에 댓글을 달았습니다!'+'</span>'
                            alarmList += '<br>'
                            alarmList += '<span id="list-date">'+addTime(value.addDate)+'</span>'
                            alarmList += '</div>'
                        }else if(value.noticeRead =="Y" && value.delYn == "N"){
                            alarmList += '<div class=notice-div id="notice-seq'+value.noticeSeq+'" style="background-color: #e0dada" onclick="location.href=`/board/PostDetail?boardSeq=`+'+value.typeSeq+'; read('+value.noticeSeq+')">'
                            alarmList += '<span id="list-data">'+value.userWriter+'님이'+' 게시물'+'('+value.category+')'+value.title+'에 댓글을 달았습니다!'+'</span>'
                            alarmList += '<br>'
                            alarmList += '<span id="list-date">'+addTime(value.addDate)+'</span>'
                            alarmList += '<span id="read-check">'+'읽음'+'</span>'
                            alarmList += '</div>'
                        }

                    }
                    else if(value.writeType == 'review'){
                        if(value.noticeRead == "N" && value.delYn == "N"){
                            alarmCheck = '<sapn id="check-pie">'+'.'+'</span>'
                            alarmList += '<div class=notice-div onclick="location.href=`/commission/detail?pcSeq=`+'+value.typeSeq+'; read('+value.noticeSeq+')">'
                            alarmList += '<span id="list-data">'+value.userWriter+'님이'+' 제안서'+'('+value.category+')'+value.title+'에 리뷰를 등록했습니다!'+'</span>'
                            alarmList += '<br>'
                            alarmList += '<span id="list-date">'+addTime(value.addDate)+'</span>'
                            alarmList += '</div>'
                        }else if(value.noticeRead =="Y" && value.delYn == "N"){
                            alarmList += '<div class=notice-div style="background-color: #e0dada" onclick="location.href=`/commission/detail?pcSeq=`+'+value.typeSeq+'">'
                            alarmList += '<span id="list-data">'+value.userWriter+'님이'+' 제안서'+'('+value.category+')'+value.title+'에 리뷰를 등록했습니다!'+'</span>'
                            alarmList += '<br>'
                            alarmList += '<span id="list-date">'+addTime(value.addDate)+'</span>'
                            alarmList += '<span id="read-check">'+'읽음'+'</span>'
                            alarmList += '</div>'
                        }

                    }
                    else if(value.writeType == 'commission'){
                        if(value.noticeRead == "N" && value.delYn == "N"){
                            alarmCheck = '<sapn id="check-pie">'+'.'+'</span>'
                            inquiryList += '<div class=notice-div onclick="read('+value.noticeSeq+')">'
                            inquiryList += '<span id="list-data">'+value.userWriter+'님이'+' 제안서'+'('+value.category+')'+value.title+'에서 채팅요청을 보냈습니다.'+'</span>'
                            inquiryList += '<br>'
                            inquiryList += '<span id="list-date">'+addTime(value.addDate)+'</span>'
                            inquiryList += '<div id="accept" onclick="YN('+value.typeSeq+',\'' + value.userWriter + '\')">'+'수락'+'</div>'
                            inquiryList += '</div>'
                        }else if(value.noticeRead =="Y" && value.delYn == "N"){
                            inquiryList += '<div class=notice-div style="background-color: #e0dada" onclick="location.href=`/commission/detail?pcSeq=`+'+value.typeSeq+'">'
                            inquiryList += '<span id="list-data">'+value.userWriter+'님이'+' 제안서'+'('+value.category+')'+value.title+'에서 채팅요청을 보냈습니다.'+'</span>'
                            inquiryList += '<br>'
                            inquiryList += '<span id="list-date">'+addTime(value.addDate)+'</span>'
                            inquiryList += '<span id="read-check">'+'읽음'+'</span>'
                            inquiryList += '</div>'
                        }

                    }
                })
                $('.notice-data-section').html(alarmList);
                $('.inquiry-data-section').html(inquiryList);
                $('.notice-check').html(alarmCheck);
            },
            errors:function (){
                console.log("실패..")
            }
        })
    }

    var SEQ = localStorage.getItem("PC_SEQ");
    var nam = localStorage.getItem("USER_NAME");
    var userSeq = localStorage.getItem("USER_SEQ");

    //채팅 방 DB저장
    function YN(typeSeq, userWriter){
        if(confirm("수락하시겠습니까?")){
            alert("DB 등록")
            $.ajax({
                type: 'post',
                url:'/room',
                data:JSON.stringify({
                    roomName : USER_NAME+' 교수님의 방',
                    pcSeq : typeSeq,
                    userWriterName : userWriter
                }),
                contentType: 'application/json',
                success:function (data){
                    console.log("통신 성공"+data);
                },
                error:function (){
                    alert("통신 실패");
                }
            })
        }else{
            return false;
        }
    }


    //특정 영역이 아닐시 영역 닫기
    $('html').click(function (e){
        if(!$(e.target).is('#notice-list') && !$(e.target).is('#notice-list-header') && !$(e.target).hasClass('notice-data-section') && !$(e.target).is('#header-notice')
            && !$(e.target).is('#header-chat') && !$(e.target).hasClass('notice-update-delete') && !$(e.target).hasClass('inquiry-data-section')
            && !$(e.target).is('#notice-all-read') && !$(e.target).is('#notice-read-delete') && !$(e.target).is('#notice-all-delete') ){
            document.getElementById("notice-list-section").style.display='none';
        }
    })
    $('html').click(function (e){
        if($(e.target).is('#notice-list') || $(e.target).is('#alarm-img')){
            document.getElementById("notice-list-section").style.display='block';
        }
    })

    //db에서 가져온 시간 변환
    function addTime(date){
        date = new Date(date);
        year = date.getFullYear();
        //자바스크립트는 0부터 11까지만 된다고 함 고로 +1
        month = date.getMonth()+1;
        day = date.getDate();
        hour = date.getHours();
        minute = date.getMinutes();
        strDate = year+"-"+month+"-"+day+" "+hour+":"+minute;
        return strDate;
    }
</script>
<body id="page-top">
<!--실시간 알림-->
<div id="real-time-notice" style="display: none">
    <div id="real-time-notice-2"></div>
</div>
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand" id="logo" href="MainForm"><img src="../static/assets/MODU.PNG" alt="..." /></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars ms-1"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                <th:block th:unless="${session.member}">
                    <li class="nav-item"><a class="nav-link" href="LoginForm">로그인</a></li>
                    <li class="nav-item"><a class="nav-link" href="SignUpForm">회원가입</a></li>
                </th:block>
                <th:block th:if="${session.member}">
                    <li class="nav-item"><a class="nav-link" href="#Category">카테고리</a></li>
                    <li class="nav-item"><a class="nav-link" href="board/Post">커뮤니티</a></li>
                    <li th:if="${session.member.memberRole} == 'Professor'" class="nav-item"><a class="nav-link" href="commission/Form">제안</a></li>
                    <li th:if="${session.member.memberRole} == 'Student'" class="nav-item"><a class="nav-link" href="commission/Find">교수찾기</a></li>
                    <li class="nav-item"><a class="nav-link" id="notice-list"><img id="alarm-img" src="../static/img/notification.png"/></a>
                        <span class="notice-check"></span>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="MyPage"><td th:text="${session.member.id}"></td>님</a></li>
                    <li class="nav-item"><a class="nav-link" href="Logout">로그아웃</a></li>
                </th:block>
            </ul>
        </div>
    </div>
    <div id="notice-list-section" style="display: none">
        <div id="notice-list-header">
            <div id="header-notice">알림</div>
            <div id="header-chat">채팅</div>
            <div id="header-chatRoom">채팅방</div>
            <hr id="header-hr" color="#cccaca" width="100%">
        </div>

        <div class="notice-data-section">

        </div>
        <div class="inquiry-data-section" style="display: none">
        </div>

        <div class="chatRoom-list-section">

        </div>
        <div class="notice-update-delete">
            <span id="notice-all-read">모두 읽기</span>
            <span id="notice-read-delete">읽은 알림 삭제</span>
            <span id="notice-all-delete">모두 삭제</span>
        </div>

    </div>
    <script>


        $('#header-notice').click(function (){
            $('#header-notice').css("border-bottom", "solid 2px #7875C9")
            $('#header-notice').css("color","#7875C9")
            $('.notice-data-section').css("display","block")
            $('#header-chat').css("border-bottom", "solid 0px")
            $('#header-chat').css("color","black")
            $('.inquiry-data-section').css("display","none")
            $('#header-chatRoom').css("border-bottom", "solid 0px")
            $('#header-chatRoom').css("color","black")
            $('.chatRoom-list-section').css("display","none")
        })
        $('#header-chat').click(function (){
            $('#header-chat').css("border-bottom", "solid 2px #7875C9")
            $('#header-chat').css("color","#7875C9")
            $('.inquiry-data-section').css("display","block")
            $('#header-notice').css("border-bottom", "solid 0px")
            $('#header-notice').css("color","black")
            $('.notice-data-section').css("display","none")
            $('#header-chatRoom').css("border-bottom", "solid 0px")
            $('#header-chatRoom').css("color","black")
            $('.chatRoom-list-section').css("display","none")
        })
        $('#header-chatRoom').click(function (){
            $('#header-chatRoom').css("border-bottom", "solid 2px #7875C9")
            $('#header-chatRoom').css("color","#7875C9")
            $('.chatRoom-list-section').css("display","block")
            $('#header-notice').css("border-bottom", "solid 0px")
            $('#header-notice').css("color","black")
            $('.notice-data-section').css("display","none")
            $('#header-chat').css("border-bottom", "solid 0px")
            $('#header-chat').css("color","black")
            $('.inquiry-data-section').css("display","none")
        })

        //알림 모두 읽음
        $('#notice-all-read').click(function (){
            console.log('알림 모두 읽음');
            $.ajax({
                type: 'post',
                url: 'noticeAllRead',
                data:JSON.stringify({
                    writer:USER_NAME,
                    noticeRead : "Y",
                }),
                contentType: 'application/json',
                success:function (data){
                    console.log('통신성공');
                    noticeList();
                },
                error:function(){
                    alert('통신실패')
                }
            })
        })

        //읽은 알림 삭제
        $('#notice-read-delete').click(function (){
            console.log('읽은 알림 삭제');
            if(confirm("정말 삭제하시겠습니까?")){
                $.ajax({
                    type:'get',
                    url:'noticeReadDelete',
                    data:{writer : USER_NAME},
                    contentType: 'application/json',
                    success:function(data){
                        console.log('통신성공');
                        alert("알림이 삭제되었습니다.");
                        noticeList();
                    },
                    error:function(){
                        alert('통신실패')
                    }
                })
            }else{
                return false;
            }
        })

        //알림 모두 삭제
        $('#notice-all-delete').click(function (){
            console.log('알림 모두 삭제');
            if(confirm("정말 삭제하시겠습니까?")){
                $.ajax({
                    type:'get',
                    url:'noticeDelete',
                    data:{writer : USER_NAME},
                    contentType: 'application/json',
                    success:function(data){
                        console.log('통신성공');
                        alert("알림이 삭제되었습니다.");
                        noticeList();
                    },
                    error:function(){
                        alert('통신실패')
                    }
                })
            }else{
                return false;
            }
        })

    </script>

</nav>

<!-- Masthead-->
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/css/swiper.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/js/swiper.min.js"></script>
<article class="banner-section" id="banner-id">
    <div class="banner-in">
        <div class="swiper-container">
            <!-- 보여지는 영역 -->
            <div class="swiper-wrapper">
                <!-- div class="swiper-slide" 를 추가하면된다 -->
                <div class="swiper-slide" onclick="location.href='commission/List?category=cook'">
                    <p id="cookPro-m">" 내가
                        <br>
                        &nbsp;&nbsp;&nbsp;요리업계
                        <br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;정점에 서 있는 이유. "</p>
                    <div id="img-cook"></div>
                </div>
                <div class="swiper-slide" onclick="location.href='commission/List?category=breeder'">
                    <p id="dogPro-m">" 통제할 수 있는
                        <br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;사람이 칭찬을 하면
                        <br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;감동이 돼요. "</p>
                    <div id="img-dog"></div>
                </div>
                <div class="swiper-slide" onclick="location.href='commission/List?category=parenting'">
                    <p id="babyPro-m">" 열심히 사는데
                        <br>
                        &nbsp;&nbsp;&nbsp;&nbsp;자꾸만
                        <br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;마음이 답답한가요? "</p>
                    <div id="img-baby"></div>
                </div>
                <div class="swiper-slide" onclick="location.href='commission/List?category=educate'">
                    <p id="mathPro-m">" 열심히 안해도
                        <br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;되니까
                        <br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;그냥 해봐. "</p>
                    <div id="img-math"></div>
                </div>
                <div class="swiper-slide" onclick="location.href='commission/List?category=sports'">
                    <p id="sportsPro-m">" 흥민이
                        <br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;절대 월드클래스
                        <br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;아닙니다. "</p>
                    <div id="img-sports"></div>
                </div>
            </div>
            <!-- 방향 버튼 상황에 따라 추가 삭제가능 -->

        </div>

    </div>
    <button class="swiper-btn-next"><img  src="../static/img/right-arrow.png"/></button>
    <button class="swiper-btn-prev"><img  src="../static/img/left-arrow.png"/></button>
</article>
<script>

    const swiper = new Swiper('.swiper-container', {
        //기본 셋팅
        //방향 셋팅 vertical 수직, horizontal 수평 설정이 없으면 수평
        direction: 'horizontal',
        //한번에 보여지는 페이지 숫자
        slidesPerView: 1,
        //드레그 기능 true 사용가능 false 사용불가
        debugger: true,
        //마우스 휠기능 true 사용가능 false 사용불가
        mousewheel: true,
        //반복 기능 true 사용가능 false 사용불가
        loop: true,
        //선택된 슬라이드를 중심으로 true 사용가능 false 사용불가
        autoplay:{
            delay: 3500,
        },
        centeredSlides: true,
        spaceBetween : 100,
        pagination: {
            //페이지 기능
            el: '.swiper-pagination',
            //클릭 가능여부
            clickable: true,
        },

        //방향표
        navigation: {
            //다음페이지 설정
            nextEl: '.swiper-btn-next',
            //이전페이지 설정
            prevEl: '.swiper-btn-prev',
        },

    });
    //넘기면 색 바뀌는
    // swiper.on('transitionEnd', function() {
    //     var check = swiper.realIndex+1;
    //     if(check==1){
    //         document.getElementById('banner-id').style.backgroundColor ='#4f4c4b';
    //     }
    //     else if(check==2){
    //         document.getElementById('banner-id').style.backgroundColor ='#938d8d';
    //     }
    //     else if(check==3){
    //         document.getElementById('banner-id').style.backgroundColor ='#4f4c4b';
    //     }
    //     else if(check==4){
    //         document.getElementById('banner-id').style.backgroundColor ='#938d8d';
    //     }
    //     else if(check==5){
    //         document.getElementById('banner-id').style.backgroundColor ='#4f4c4b';
    //     }
    // });

</script>
<!-- Services-->
<section class="category-page-section">
    <div id="cook-category" th:onclick="|location.href='@{../commission/ProFind/cook}'|">
    </div>
    <div id="cook-name">
        요리
    </div>
    <div id="breeder-category" th:onclick="|location.href='@{../commission/ProFind/breeder}'|">
    </div>
    <div id="breeder-name">
        애완동물
    </div>
    <div id="parenting-category" th:onclick="|location.href='@{../commission/ProFind/parenting}'|">
    </div>
    <div id="parenting-name">
        육아
    </div>
    <div id="educate-category" th:onclick="|location.href='@{../commission/ProFind/educate}'|">
    </div>
    <div id="educate-name">
        교육
    </div>
    <div id="sports-category" th:onclick="|location.href='@{../commission/ProFind/sports}'|">
    </div>
    <div id="sports-name">
        스포츠
    </div>



</section>
<!-- Portfolio Grid-->
<section id="portfolio" style="background-color: white">
    <th:block th:if="${session.member}">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">Community</h2>
                <h3 class="section-subheading text-muted">게시판 들어갈 자리</h3>
            </div>
            <div class="row">
            </div>
        </div>
    </th:block>
    <th:block th:unless="${session.member}">
    </th:block>
</section>

<!-- About-->
<!-- Team-->
<!-- Clients-->

<div class="py-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-3 col-sm-6 my-3">
                <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="../static/assets/img/logos/microsoft.svg" alt="..." aria-label="Microsoft Logo" /></a>
            </div>
            <div class="col-md-3 col-sm-6 my-3">
                <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="../static/assets/img/logos/google.svg" alt="..." aria-label="Google Logo" /></a>
            </div>
            <div class="col-md-3 col-sm-6 my-3">
                <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="../static/assets/img/logos/facebook.svg" alt="..." aria-label="Facebook Logo" /></a>
            </div>
            <div class="col-md-3 col-sm-6 my-3">
                <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="../static/assets/img/logos/ibm.svg" alt="..." aria-label="IBM Logo" /></a>
            </div>
        </div>
    </div>
</div>
<!-- Contact-->

<!-- Footer-->
<!-- Portfolio Modals-->
<!-- Portfolio item 1 modal popup-->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal"><img src="../static/assets/img/close-icon.svg" alt="Close modal" /></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <!-- Project details-->
                            <h2 class="text-uppercase">Project Name</h2>
                            <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                            <img class="img-fluid d-block mx-auto" src="../static/assets/img/portfolio/1.jpg" alt="..." />
                            <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                            <ul class="list-inline">
                                <li>
                                    <strong>Client:</strong>
                                    Threads
                                </li>
                                <li>
                                    <strong>Category:</strong>
                                    Illustration
                                </li>
                            </ul>
                            <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                <i class="fas fa-xmark me-1"></i>
                                Close Project
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio item 2 modal popup-->
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal"><img src="../static/assets/img/close-icon.svg" alt="Close modal" /></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <!-- Project details-->
                            <h2 class="text-uppercase">Project Name</h2>
                            <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                            <img class="img-fluid d-block mx-auto" src="../static/assets/img/portfolio/2.jpg" alt="..." />
                            <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                            <ul class="list-inline">
                                <li>
                                    <strong>Client:</strong>
                                    Explore
                                </li>
                                <li>
                                    <strong>Category:</strong>
                                    Graphic Design
                                </li>
                            </ul>
                            <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                <i class="fas fa-xmark me-1"></i>
                                Close Project
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio item 3 modal popup-->
<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal"><img src="../static/assets/img/close-icon.svg" alt="Close modal" /></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <!-- Project details-->
                            <h2 class="text-uppercase">Project Name</h2>
                            <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                            <img class="img-fluid d-block mx-auto" src="../static/assets/img/portfolio/3.jpg" alt="..." />
                            <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                            <ul class="list-inline">
                                <li>
                                    <strong>Client:</strong>
                                    Finish
                                </li>
                                <li>
                                    <strong>Category:</strong>
                                    Identity
                                </li>
                            </ul>
                            <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                <i class="fas fa-xmark me-1"></i>
                                Close Project
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio item 4 modal popup-->
<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal"><img src="../static/assets/img/close-icon.svg" alt="Close modal" /></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <!-- Project details-->
                            <h2 class="text-uppercase">Project Name</h2>
                            <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                            <img class="img-fluid d-block mx-auto" src="../static/assets/img/portfolio/4.jpg" alt="..." />
                            <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                            <ul class="list-inline">
                                <li>
                                    <strong>Client:</strong>
                                    Lines
                                </li>
                                <li>
                                    <strong>Category:</strong>
                                    Branding
                                </li>
                            </ul>
                            <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                <i class="fas fa-xmark me-1"></i>
                                Close Project
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio item 5 modal popup-->
<div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal"><img src="../static/assets/img/close-icon.svg" alt="Close modal" /></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <!-- Project details-->
                            <h2 class="text-uppercase">Project Name</h2>
                            <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                            <img class="img-fluid d-block mx-auto" src="../static/assets/img/portfolio/5.jpg" alt="..." />
                            <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                            <ul class="list-inline">
                                <li>
                                    <strong>Client:</strong>
                                    Southwest
                                </li>
                                <li>
                                    <strong>Category:</strong>
                                    Website Design
                                </li>
                            </ul>
                            <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                <i class="fas fa-xmark me-1"></i>
                                Close Project
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio item 6 modal popup-->
<div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal"><img src="../static/assets/img/close-icon.svg" alt="Close modal" /></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <!-- Project details-->
                            <h2 class="text-uppercase">Project Name</h2>
                            <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                            <img class="img-fluid d-block mx-auto" src="../static/assets/img/portfolio/6.jpg" alt="..." />
                            <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                            <ul class="list-inline">
                                <li>
                                    <strong>Client:</strong>
                                    Window
                                </li>
                                <li>
                                    <strong>Category:</strong>
                                    Photography
                                </li>
                            </ul>
                            <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                <i class="fas fa-xmark me-1"></i>
                                Close Project
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

<!-- Core theme JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script src="../static/js/scripts.js"></script>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<!-- * *                               SB Forms JS                               * *-->
<!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<!--<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>


</body>
</html>

