<!DOCTYPE html>
<html lang="UTF-8">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
</head>
<body>
<form action="/signUp" method="post">
    <h1>MODU회원가입</h1>
    <div>
            <p>아이디 : <input name="St_id" type="text"></p>
            <p>비밀번호 : <input name="St_pw" type="password"></p>
            <p>이름 : <input name="St_name" type="text"></p>
            <p>이메일 : <input name="St_email" type="text"></p>
            <button type="submit">가입완료</button>
    </div>
</form>
</body>
</html>