<!DOCTYPE html>
<html lang="UTF-8">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
</head>
<body>
<form action="/signUp" method="post">
    <h1>MODU회원가입</h1>
    <div>
        <p>아이디 : <input name="user_id" type="text"></p>
        <p>비밀번호 : <input name="user_password" type="password"></p>
        <p>이름 : <input name="user_name" type="text"></p>
        <p>이메일 : <input name="user_email" type="text"></p>
        <p>전화번호 : <input name="user_telno" type="text"></p>
        <p>주소 : <input name="user_address" type="text"></p>
        <p>
        <h5>유저 역할</h5>
        학생 : <input type="radio" name="user_role" value="Student">
        선배 : <input type="radio" name="user_role" value="Elder">
        교수 : <input type="radio" name="user_role" value="Professor">
        </p>
        <p>
        <h5>카테고리</h5>
        교육 : <input type="radio" name="category"  value="Education">
        육아 : <input type="radio" name="category"  value="Parenting">
        요리 : <input type="radio" name="category"  value="Cooking">
        </p>
        <button type="submit">가입완료</button>
    </div>
</form>
</body>
</html>